<template name="header">
  <div class="fixed contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name"><h1><a>Meteor Buzzer</a></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        {{#if currentUser}}
        <ul class="left">
          {{#each sounds}}
          <li class="divider"></li>
          <li><a soundName="{{this}}">{{this}}</a></li>
          {{/each}}
        </ul>
        {{/if}}

        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li>{{> loginButtons}}</li>
          <!-- li>{{> loginButtons align="right"}}</li -->
        </ul>
      </section>
    </nav>
  </div>
</template>
