<template name="main">
  <div class="row">
    <div class="small-11 columns">
      <h1>BuzzLog</h1>
    </div>
    <div class="small-1 columns">
      <div id="clearLog" class="button alert small radius right">CLEAR</div>
    </div>
  </div>

  {{#each messages}}
  <div class="row">
    <div class="medium-3 columns">{{formatDate timestamp "short-time"}}</div>
    <div class="small-5 medium-6 columns">{{username}}</div>
    <div class="small-4 medium-2 columns">{{soundName}}</div>
    <div class="small-3 medium-1 columns"><div class="button tiny round right" soundName="{{soundName}}">PLAY</div></div>
  </div>
  {{/each}}
</template>
